.product {
  &-list {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex: none;
    overflow: auto;
    gap: 32px;
    &::-webkit-scrollbar {
      display: none;
      width: 0;
    }
    & > * {
      scroll-snap-align: start;
    }
  }
  overflow: hidden;
  cursor: pointer;
  @include flex-col;
  width: calc(100% / 6 - 32px);
  @include laptop {
    width: calc(100% / 4 - 32px);
  }
  @include table {
    width: calc(100% / 3 - 32px);
  }
  @include mobile {
    width: calc(100% / 2 - 32px);
  }
  flex: none;
  scroll-snap-align: start;
  &-img {
    margin-bottom: 10px;
  }
  &-desc {
    font-size: $font-size-medium;
    line-height: $leading-6;
    font-weight: $font-weight-medium;
    margin-bottom: 5px;
    color: #333;
  }
  &-price {
    font-weight: $font-weight-Extrabold;
  }
}
